:root {
    /* ## Colors */

    /* ### Primary */

    --clr-palette-primary-300: hsl(176deg 50% 47%);
    --clr-palette-primary-700: hsl(176deg 72% 28%);

    /* ### Neutral */

    --clr-palette-neutral-600: hsl(0 0% 48%);
    --clr-palette-neutral-50: hsl(0 0% 98%);
    --black: hsl(0 0% 0%);
    --white: hsl(0 0% 100%);

    /* ## Typography  */

    /* ### font sizes  */
    --fs-heading-xl: 2rem;
    --fs-heading-l: 1.25rem;
    --fs-heading-m: 1.125rem;
    --fs-heading-s: 0.875rem;
    --fs-heading-xs: 0.875rem;
    --fs-body: 1rem;

    /* modal - font sizes  */
    --fs-modal-heading-l: 1.125rem;
    --fs-modal-heading-m: 1.125rem;
    --fs-modal-heading-s: 0.875rem;
    --fs-modal-body: 0.875rem;


    /* ### Font  */
    --ff-primary: 'Commissioner', sans-serif;
    /* font weight  */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --br: 8px;

}

@media (min-width: 50em) {

    /* ### font sizes  */
    :root {
        --fs-heading-m: 1.25rem;
        --fs-heading-s: 1.125rem;
        --fs-heading-xs: 0.9375rem;

        /* modal - font sizes  */
        --fs-modal-heading-l: 1.5rem;
        --fs-modal-heading-s: 1rem;
        --fs-modal-body:  0.9375rem;
    }
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body {
    font-family: var(--ff-primary);
    background-color: var(--clr-palette-neutral-50);
    color: var(--clr-palette-neutral-600);
    font-size: var(--fs-body);
    line-height: 1.63em;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

button,
a {
    all: unset;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

button,
optgroup,
input,
button,
textarea,
select {
    font: inherit;
}

svg,
img,
picture {
    max-width: 100%;
    display: block;
}

*:focus {
    outline: none;
}

.amount-pledged {
    position: relative;
    font-weight: var(--fw-700);
    caret-color: var(--clr-palette-primary-300);
}

.dollar-sign {
    position: absolute;
    font-weight: var(--fw-700);
    font-size: 0.875rem;
    color: hsla(0, 0%, 0%, 1);
    opacity: 25%;
    margin: 1rem 0 1rem 1.5rem;
    z-index: 1;
}

.flow>*+* {
    margin-top: var(--flow-space, 1.5rem);
}

.fs-heading {
    color: var(--black);
    font-weight: var(--fw-700);
}


/* fonts  */
.fs-heading-xl {
    font-size: var(--fs-heading-xl);
}

.fs-heading-l {
    font-size: var(--fs-heading-l);
}

.fs-heading-m {
    font-size: var(--fs-heading-m);
}

.fs-heading-s {
    font-size: var(--fs-heading-s);
}

.fs-heading-xs {
    color: var(--clr-palette-primary-300);
    font-weight: var(--fw-500);
    font-size: var(--fs-heading-xs);
}

/* modal - font sizes  */
.fs-modal-heading-l {
    font-size: var(--fs-modal-heading-l);
}

.fs-modal-heading-m {
    font-size: var(--fs-modal-heading-m);
}

.fs-modal-heading-s {
    font-size: var(--fs-modal-heading-s);
}

.fs-heading.fs-modal-heading-s {
    color: var(--clr-palette-primary-300);
    font-weight: var(--fw-500);
}

.fs-modal-body {
    font-size: var(--fs-modal-body);
}

.container {
    width: clamp(20ch, 90%, 45.625rem);
    margin: 0 auto;
    transform: translateY(-4.75rem);
}

.card {
    background-color: var(--white);
    border: 1px solid hsla(0, 0%, 0%, 0.05);
    border-radius: var(--br);
}

span {
    color: var(--clr-palette-neutral-600);
    font-weight: var(--fw-400);
    font-size: 0.9375rem;
}

.btn {
    --br: 2.125rem;

    background-color: var(--clr-palette-primary-300);
    color: var(--white);
    max-width: 9.8125rem;
    padding: 0.9375rem 2rem;
    border-radius: var(--br);
}

.btn--reward,
.out-of-stock {
    font-size: 0.875rem;
    line-height: 1.2;
}

/* overlay  */
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
}


.active .nav--overlay {
    display: block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    opacity: .60;

}

.active .modal--overlay {
    display: block;
    background: var(--black);
    opacity: .5;

}

.selected.overlay--thanks {
    display: block;
    background: var(--black);
    opacity: .5;
}


/* hero background image (note this is actually found in the header) */

.hero-bg {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero-bg::after {
    content: '';
    inset: 0;
    width: 100%;
    height: 18.75rem;
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    opacity: 0.6;
}

.hero-bg img {
    position: relative;
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}



/* nav section  */

.nav {
    position: relative;
    max-width: 69.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 15.5rem;
    z-index: 3;
}

/* nav toggle  */

.nav__toggle--container {
    perspective: 62.5rem;
}

.active .nav__toggle--container .nav__toggle {
    transform: rotateY(180deg);
}

.nav__toggle--container,
.nav__toggle--open,
.nav__toggle--close {
    width: 1rem;
    height: 1rem;
}

.nav__toggle {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.nav__toggle--open,
.nav__toggle--close {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__toggle--open {
    z-index: 2;
    transform: rotate(0deg);
}

.nav__toggle--close {
    transform: rotateY(180deg);
}

.nav__list {
    display: none;
}

.active .nav__list {
    display: block;
    position: absolute;
    inset: 5.5rem 1.5rem 0;
    margin-right: 0;
    margin-left: auto;
    max-width: 20.4375rem;
    background-color: var(--white);
    border-radius: var(--br);
    color: var(--black);
}

.active .nav__list--item {

    padding: 1.5rem;
    border-bottom: 1px solid hsla(0, 0%, 18%, .10);
}

/* main section  */

/* not to be confused with hero image; this is found in the main  */

.hero {
    position: relative;
    text-align: center;
    padding: 3.25rem 1.5rem 2.5rem;
    z-index: 1;
}

.hero .logo {
    inset: 0;
    position: absolute;
    margin: 0 auto;
    background-repeat: no-repeat;
    transform: translateY(-1.75rem);
    z-index: -1;
}

.hero__content p {
    margin: 1rem 0 1.5rem;
}

.backed__wrapper {
    display: flex;
    justify-content: space-between;
}

.backed__wrapper .btn {
    max-width: 17.4375rem;
}

.bookmark__title {
    display: none;
}

/* backed section  */

.backed {
    padding: 2rem 1.4375rem 2.5rem 1.5625rem;
}

.backed__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.backed__content .fs-heading-xl span {
    display: block;
    position: relative;
    margin-top: 0.5625rem;
    padding-bottom: 1.5rem;

}

.backed__content span::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 5rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--black);
    opacity: 15%;
}

/* progress bar  */
.progress__bar {
    --br: 2.125rem;

    position: relative;
    width: 100%;
    height: 0.75rem;
    background-color: hsla(0, 0%, 18%, 5%);
    border-radius: var(--br);
}

.progress__bar--filled {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    background-color: var(--clr-palette-primary-300);
    border-radius: var(--br);
}

/* about section  */

.about {
    padding: 2.5rem 1.5rem;
}

/* pledge section  */

.pledge {
    border-radius: var(--br);
    border: 1px solid hsla(0, 0%, 0%, 0.05);
    padding: 1.5rem;
}


.pledge .fs-heading-xs {
    margin-top: 0.5rem;
}

.out-of-stock {
    opacity: 50%;
}

.out-of-stock .btn {
    background: hsla(0, 0%, 18%, 1);
    opacity: 0.5;
}

/* footer section  */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* modal section  */

.pledge--modal {
    position: relative;
}

.pledge--drop-menu.is-selected:not(:nth-child(1)):not(:nth-child(4))::before {
    content: '';
    position: absolute;
    inset: 17.5rem 0 0;
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
}


.modal {
    display: none;
}

.active .modal {
    position: absolute;
    display: block;
    width: clamp(20ch, 90%, 33.125rem);
    background-color: var(--white);
    border-radius: var(--br);
    font-size: var(--fs-modal-body);
    padding: 2rem 1.5rem 1.9375rem;
    /* margin: 121px auto 104px; */
    inset: 121px 1.5rem auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}



.modal__header p {
    margin: 1.5rem 0 1.54rem;
}

.close__modal {
    position: absolute;
    top: 36px;
    right: 1.5rem;

}



.pledge--modal input[type='radio'] {
    --br: 50%;

    -webkit-appearance: none;
    appearance: none;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--br);
    padding: 5px;
    background-clip: content-box;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
}

.no-reward {
    padding: 2.0625rem 1.5rem 2rem;
}


.pledge__content .fs-heading-s,
.pledge__content .fs-modal-heading-s {
    margin-left: 2.5rem;


}

.pledge--modal input[type='radio'] {
    position: absolute;
    top: 2.0625rem;
}


.pledge--modal input[type='radio']:checked {
    background-color: var(--clr-palette-primary-300);
}

.is-selected.pledge {
    border: 1px solid var(--clr-palette-primary-300);
}

.pledge--modal p {
    margin: 1.5rem 0 1.5rem;
}


.pledge__selected {
    display: none;
    height: 0;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

.pledge--drop-menu.is-selected .pledge__selected {
    display: block;
    padding-top: 1.5rem;
    max-width: 14.4375rem;
    margin: 0 auto;
}


.pledge__selected form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pledge__selected h3 {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1rem;
}

.amount-pledged {
    --br: 2.125rem;

    width: 100%;
    max-width: 6.25rem;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    text-align: center;
    padding: 1rem 0;
    border-radius: var(--br);

}

.pledge__selected .btn {
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    padding: 0.9375rem 1.625rem;
    max-width: 7.1875rem;
}

/* thank you modal  */
.pledge__thanks {
    display: none;
    width: clamp(20.4375rem, 90%, 33.75rem);
    background-color: var(--white);
    border-radius: var(--br);
    border: 1px solid hsla(0, 0%, 0%, 0.05);
    text-align: center;
    padding: 2rem 1.5rem 2.5rem;
    inset: 50% 0 auto 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.pledge__thanks .fs-modal-heading-l {
    color: var(--black);
}

.pledge__thanks img {
    margin: 0 auto;
}

.pledge__thanks.selected {
    display: grid;
    position: fixed;
    place-items: center;
}


/* desktop  */
@media (min-width: 50em) {

    /* hero background image (found in header) - desktop */

    .hero-bg::after {
        height: 25rem;
    }

    .hero-bg img {
        height: 25rem;
        object-fit: cover;
    }

    .nav {
        padding: 3rem 2.5rem 20.75rem;
    }


    .nav__toggle--container {
        display: none;
    }

    .nav__list {
        display: flex;
        align-items: center;
        color: var(--white);
    }

    .nav__list--item {
        cursor: pointer;
    }

    .nav__list--item:hover,
    .nav__list--item:active {
        text-decoration: underline
    }


    .nav__list--item+.nav__list--item {
        margin-left: 2.0625rem;
    }

    /* hero section - desktop  */

    .hero {
        position: relative;
        text-align: center;
        padding: 3.5rem 3rem 3rem;
        z-index: 1;
    }

    .hero__content p {
        margin: 1.75rem 0 2.5rem;
    }

    .bookmark__wrapper {
        --br: 2.125rem;
        cursor: pointer;
        display: block;
        position: relative;
        max-width: 10.875rem;
        background-color: hsl(0, 0%, 96%);
        color: var(--clr-palette-neutral-600);
        padding: 1.0625rem 1.5rem 1.1875rem 4.5rem;
        border-radius: var(--br);
        transition: all .25s ease-in-out;
    }

    .bookmark__img {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .bookmark__title {
        display: block;
        font-weight: var(--fw-700);
        font-size: 1rem;
        line-height: 1.2;
    }

    .bookmark__wrapper:active .bookmark__img path,
    .bookmark__wrapper:hover .bookmark__img path {
        fill: hsla(0, 0%, 69%, 1);
    }

    .bookmark__wrapper:active .bookmark__img circle,
    .bookmark__wrapper:hover .bookmark__img circle {
        fill: hsla(0, 0%, 44%, 1);
    }

    .is-selected.bookmark__wrapper .bookmark__img circle {
        fill: var(--clr-palette-primary-700);
    }

    .is-selected.bookmark__wrapper .bookmark__img path {
        fill: var(--white);
    }

    .is-selected.bookmark__wrapper .bookmark__title {
        color: var(--clr-palette-primary-700);
    }


    /* backed section - desktop  */
    .backed {
        padding: 3rem 3rem 3.0625rem;
    }

    .backed__content {
        --flow-space: 0;
        display: flex;
        flex-direction: row;
        text-align: left;
        /* justify-content: space-around; */
        align-items: flex-end;
        margin-bottom: 2.3125rem;
    }


    .backed__content .fs-heading-xl:nth-child(1) {
        margin-right: 5.625rem;
    }

    .backed__content .fs-heading-xl:nth-child(2) {
        margin-right: 8.6875rem;
    }

    .backed__content .fs-heading-xl span {
        margin-top: 0.5rem;
        padding-bottom: 0;

    }

    .backed__content span::after {
        border-bottom: none;
    }

    .backed__content .fs-heading-xl {
        display: block;
        position: relative;

    }

    .backed__content .fs-heading-xl:nth-child(2)::after,
    .backed__content .fs-heading-xl:nth-child(3)::after {
        content: '';
        position: absolute;
        inset: 0;
        left: -2.9375rem;
        height: 3.9375rem;
        margin: 0 auto;
        border-left: 1px solid var(--black);
        opacity: 15%;
    }

    /* about section - desktop  */
    .about {
        padding: 3rem;
    }

    .active .modal {
        width: clamp(20ch, 90%, 45.625rem);
        padding: 3.0313rem 3rem 3.0313rem;
        inset: 11.5rem 2rem auto;
    }


    .pledge {
        display: grid;
        grid-template-columns: minmax(min-content, 13.375rem) minmax(min-content, 13.375rem) minmax(min-content, 12.5rem);
        grid-template-rows: 1.375rem 3.75rem 3rem;
        grid-template-areas: 'item . pledge' 'content content content' 'left . btn';
        justify-content: center;
        align-items: center;
        gap: 1.5rem 0;
        padding: 2.375rem 2rem 2rem;
    }

    .pledge .fs-heading:hover:not(nth-chile(4)),
    .pledge .fs-heading:active:not(nth-chile(4)) {
        cursor: pointer;
        color: var(--clr-palette-primary-300);
    }

    .pledge .fs-heading-s {
        grid-area: item;
    }

    .pledge .fs-heading-xs {
        grid-area: pledge;
        justify-self: flex-end;
    }

    .pledge p {
        grid-area: content;
    }

    .pledge .fs-heading-xl {
        grid-area: left;
    }

    .pledge .btn {
        grid-area: btn;
        justify-self: flex-end;
    }

    .btn--reward,
    .backed__wrapper .btn,
    .pledge__btn,
    .thanks--btn {
        cursor: pointer;
    }

    .btn--reward:hover,
    .backed__wrapper .btn:hover,
    .pledge__btn:hover,
    .thanks--btn:hover,
    .btn--reward:active,
    .backed__wrapper .btn:active,
    .pledge__btn:active,
    .thanks--btn:active {
        background-color: var(--clr-palette-primary-700);
    }

    .pledge.pledge--modal {

        display: block;
        padding: 2.0625rem 1.75rem 2rem 4.75rem;
    }

    .pledge--drop-menu.is-selected:not(:nth-child(1)):not(:nth-child(4))::before {
        inset: 9.8125rem 0 0;
    }

    .pledge--modal p {
        margin: 0;
    }


    .pledge .pledge__content {
        width: 100%;
        max-width: 33.125rem;
        display: grid;
        grid-template-columns: minmax(11.875rem, auto) minmax(9.5rem, auto) minmax(8rem, auto) minmax(3.8125rem, auto);
        grid-template-rows: minmax(min-content, 1.1875rem) minmax(min-content, 3.5rem);
        grid-template-areas: 'reward pledge . left' 'content content content content';
        align-items: center;
        margin: 0;
        margin-right: 0;
        margin-left: auto;
        gap: 1.0625rem 0;
    }

    .pledge__content .reward__wrapper {
        position: relative;
        grid-area: reward;
    }

    .no-reward {
        padding: 0;
    }


    .pledge__content .fs-heading-s,
    .pledge__content .fs-modal-heading-s {
        margin-left: 0;


    }

    .pledge__content input[type="radio"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3rem;
    }

    .no-reward .reward__wrapper {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .pledge__content p {
        grid-area: content;
    }


    .pledge__content .left {
        font-size: 1.125rem;
        grid-area: left;
    }


    .pledge__content .fs-modal-heading-s {
        grid-area: pledge;
    }

    .pledge--drop-menu.is-selected .pledge__selected {
        display: grid;
        max-width: 36.125rem;
        position: relative;
        grid-template-columns: minmax(min-content, 7.5rem) minmax(min-content, 13.9375rem);
        grid-template-rows: minmax(min-content, 3rem);
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 3.5625rem;
    }


    .pledge__selected h3 {
        margin: 0;
    }

    .pledge__thanks.selected {
        padding: 3rem;
    }

}